//@import "~bootstrap/scss/bootstrap";
@import "_colors.scss";
@import "buttons.scss";
@import "actorForm.scss";
@import "topMenu.scss";
@import "relations.scss";

tag-element {
    background: red;
}

body {
    background-color: rgb(54, 54, 54);
    overflow: hidden;
}

footer {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 0;
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-variant: small-caps;
    display: none;

    &.visible {
        display: block;
    }
}

div,
section,
a,
button {
    //transition: all 0.5s ease-out;
}

.visible {
    opacity: 1 !important;
    height: auto;
    width: auto;
}

.help {
    font-family: 'Caveat Brush', cursive;
    color: white;
    font-size: 25px;

    ul {
        list-style-type: katakana;
    }
}

#graph {
    opacity: 0;
    text-align: center;
}

#save-configuration {
    opacity: 0;
}

#save-image {
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 0;
    margin-left: 0;

    &.visible {
        width: 130px;
    }
}

#load-configuration-dialog {
    display: none;
}


.hide {
    display: none;
}

.graphContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    z-index: 1;
}

.details {
    height: 300xp;
    width: 100%;
}