//@import "~bootstrap/scss/bootstrap";
@import "buttons.scss";
body {
    background-color: rgb(54, 54, 54);
}

header {
    width: 100%;
    background: #f7ca18;
    margin: 0 0 30px;
    height: 50px;
    padding: 5px 5px;
    .input-group input.form-control {
        background: #363636;
        width: 100px;
        color: white;
    }
}

footer {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 0;
    color: white;
    a {
        color: white;
        text-decoration: underline;
    }
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-variant: small-caps;
    display: none;
    &.visible {
        display: block;
    }
}

div,
section,
a,
button {
    transition: all 0.5s ease-out;
}

.visible {
    opacity: 1 !important;
    height: auto;
    width: auto;
}

.help {
    height: 0;
    opacity: 0;
    font-family: 'Caveat Brush', cursive;
    color: white;
    font-size: 25px;
    ul {
        list-style-type: katakana;
    }
}

#graph {
    opacity: 0;
    text-align: center;
}

#save-configuration {
    opacity: 0;
}

#save-image {
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 0;    
    margin-left: 0;
    &.visible {
        width: 130px;
    }
}

#load-configuration-dialog {
    display: none;
}

.selected {
    background: red;
    &::before {
        top: 100%;
    }
}

.actorsTag,
.qualifiersTag {
    width: 100%;
    text-align: center;
}

.tagsRow {
    margin-bottom: 20px;
}

.tag,
.buttonTag {
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 40px;
    line-height: 36px;
    padding: 0 5px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    i {
        padding-left: 2px;
    }
}

#relationsList {
    .alert {
        margin-bottom: 5px;
        .close {
            float: right;
            cursor: pointer;
            font-size: 25px;
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
        }
    }
    .alert-success {
        background-color: #bdd5ea;
        border-color: #9e6ab5;
        border-radius: 0;
    }
}