@import "~bootstrap/scss/bootstrap";
@import "buttons.scss";
body {
    background-color: rgb(54, 54, 54);
}

header {
    width: 100%;
    background: #f7ca18;
    margin: 0 0 30px;
    height: 50px;
    padding: 5px 5px;
    .input-group input.form-control {
        background: #363636;
        width: 100px;
        color: white;
    }
}

#graph {
    background: white;
    text-align: center;
}

#save-image {
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: none;

    &.visible {
        display: inline-block;
    }
}

#load-configuration-dialog {
    display: none;
}

.selected {
    background: red;
    &::before {
        top: 100%;
    }
}

.actorsTag,
.qualifiersTag {
    width: 100%;
    text-align: center;
}

.tagsRow {
    margin-bottom: 20px;
}

.tag {
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 40px;
    line-height: 36px;
    padding: 0;
    width: 33%;
    text-align: center;
    cursor: pointer;
    i {
        padding-left: 2px;
    }
}

#relationsList {
    .alert {
        margin-bottom: 5px;
        .close {
            float: right;
            cursor: pointer;
            font-size: 25px;
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
        }
    }
}